*,
*::after,
*::before {
    box-sizing: border-box;
}


/* font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; */

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #373a39;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1440px;
    padding: 0 10px;
    margin: 0 auto;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 94px;
}

.logo {
    padding-left: 42px;
}

.menu__list {
    display: flex;
    align-items: flex-end;
    padding-right: 16px;
}

.menu__list-item {
    margin: 0 25px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: .6px;
    border-bottom: 2px solid transparent;
    padding-bottom: 9px;
    transition: all 0.5s;
}

.menu__list-item:hover {
    content: '';
    border-bottom: 2px solid #FCBB08;
}

.header__content {
    min-height: 658px;
    background-image: url(../img/Header-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header__title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 100px;
    line-height: 122px;
    color: #fff;
    padding-top: 213px;
}

.header__description {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.74px;
    color: #FCBB08;
    padding-top: 20px;
}