*,
*::after,
*::before {
    box-sizing: border-box;
}


/* font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; */

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #373a39;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1440px;
    padding: 0 10px;
    margin: 0 auto;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 94px;
}

.logo {
    padding-left: 42px;
}

.menu__list {
    display: flex;
    align-items: flex-end;
    padding-right: 16px;
}

.menu__list-item {
    margin: 0 25px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: .6px;
    border-bottom: 2px solid transparent;
    padding-bottom: 9px;
    transition: all 0.5s;
}

.menu__list-item:hover {
    content: '';
    border-bottom: 2px solid #FCBB08;
}

.header__content {
    min-height: 658px;
    background-image: url(../img/Header-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header__title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 100px;
    line-height: 122px;
    color: #fff;
    padding-top: 213px;
}

.header__description {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.74px;
    color: #FCBB08;
    padding-top: 20px;
}

.header__content-decor {
    text-align: center;
    margin-top: 180px;
}

.about {
    background-color: #F6F8FA;
}

.about__inner {
    display: flex;
    justify-content: start;
    padding-top: 143px;
}

.title {
    min-width: 267px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 75px;
    letter-spacing: -1.65px;
    color: #242121;
    position: relative;
    margin-right: 133px;
}

.title::before {
    position: absolute;
    content: '';
    width: 60px;
    height: 4px;
    background-color: #FCBB08;
    left: 0;
    top: 89px;
}

.about__text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #373a39;
    margin-bottom: 125px;
}

.expertise .title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 75px;
    letter-spacing: -1.65px;
    color: #242121;
    padding-top: 143px;
    margin-bottom: 89px;
}

.expertise .title::before {
    top: 232px;
}

.expertise__content-header {
    display: flex;
    margin-bottom: 130px;
}

.expertise__content-items {
    min-width: 400px;
}

.expertise__content-item {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #1D1D1D;
    margin-bottom: 35px;
}

.expertise__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 164px;
}

.expertise__item {
    display: flex;
    margin: 0 15px 10px;
}

.expertise__item-img {
    width: 50px;
    height: 50px;
    margin-right: 25px;
}

.expertise__item-box {
    min-width: 300px;
}

.expertise__item-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 4.29px;
    margin-bottom: 18px;
}

.expertise__item-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
}

.features {
    background-color: #F6F8FA;
    display: flex;
    align-items: flex-start;
}

.features__img {
    left: 0;
}

.features__inner {
    padding: 101px 135px 180px 135px;
}

.features__title {
    margin-bottom: 85px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 75px;
    letter-spacing: -1.65px;
    color: #242121;
}

.features__title::before {
    top: 165px;
}

.features__text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #373A39;
}

.portfolio__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 139px;
    margin-bottom: 115px;
}

.portfolio__btn {
    background-color: transparent;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 2px;
    margin-left: 15px;
    color: #333;
    border-bottom: 2px solid transparent;
}

.portfolio__btn:hover {
    content: '';
    border-bottom: 2px solid #FCBB08;
}